{{> navbar}}

<div class="columns is-centered animate__animated animate__fadeInUpBig">
    <div class="column is-three-quarters">
        <article class="panel is-primary" id="options_team">
            <p class="panel-heading">
                Optiones del equipo
            </p>

        </article>
    </div>
</div>
<script>
    let user = localStorage.getItem('user');
    const token = localStorage.getItem('token');

    if (user && token) {
        user = JSON.parse(user);
        const url = `/competitor/haveTeam/${user.id}`;
        const options = {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            },
        };
        fetch(url, options)
            .then(res => res.json())
            .then(res => {
                const haveTeam = res.haveTeam;
                console.log(haveTeam);
                if (!haveTeam) {
                    document.getElementById('options_team').innerHTML += `
                        <a class="panel-block is-active" href="/view/team/create">
                                <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                             Crear un equipo y volverse capitan del mismo
                        </a>`

                } else {
                    document.getElementById('options_team').innerHTML += `
                        <a class="panel-block is-active" href="/view/team/panel">
                                <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                             Ver informacion mi equipo
                        </a>
                        <a class="panel-block is-active" href="/view/team/add_competitor">
                                <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                             Agregar integrantes a mi equipo
                        </a>`
                }

            }).catch(err => console.log(err));



    } else {
        window.location.href = '/';
    }
</script>