<section class="section animate__animated  animate__fadeIn">
    <div class="container">
        <div class="columns is-centered">
            <div class="column  box is-three-quarters ">

                <div class=' equal-height has-text-centered '>

                    <figure><img src='https://sibcolombia.net/wp-content/uploads/2016/06/logo-ubosque.png' width="200"
                            height="200"></figure>

                </div>

                <div class="login">
                    <h1 class="title has-text-centered">Registrese</h1>
                    <form action="/auth/register" method="POST">
                        <div class="field">
                            <label class="label">Nombre</label>
                            <div class="control">
                                <input class="input" type="text" name="first_name" placeholder="Juanito">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Apellido</label>
                            <div class="control">
                                <input class="input" type="text" name="last_name" placeholder="Perez">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Contraseña</label>
                            <div class="control">
                                <input class="input" type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="text" name="email" placeholder="correo@gmail.com">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Documento</label>
                            <div class="control">
                                <input class="input" type="text" name="dni" placeholder="1001179393">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Edad</label>
                            <div class="control">
                                <input class="input" type="text" name="age" placeholder="21">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Lenguaje de programacion</label>
                            <div class="control">
                                <div class="select is-rounded">
                                    <select name="lenguaje">
                                        <option>Java</option>
                                        <option>C</option>
                                        <option>C++</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-text-centered mt-5 mb-5">
                                <button class="button is-primary">Register</button>
                                <a href="/" class="button is-link">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>